/** HEADER **/
section#coco{
	height: 600px;
}
.carousel-item ,.active{
	width: 100%;
	max-height: 550px;
	

}
.carousel-item img {
	
}

img.coco{
	height: 25%;
	width: 25%;
	margin-bottom: 8%;
	
    }

h2#Natharine{
	font-size: 3em;
	font-family: 'Great Vibes', cursive;
	color: black;

}

img.coco1{
	margin-bottom: 3%;
	height: 25%;
	width: 25%;
	}
