/** HEADER **/
.carousel-item ,.active{
	width: 100%;
	max-height: 550px;
}
.carousel-item img {
	max-height: 500px;
}
/* css galeries */
.gal{
	margin: 3% 5% 5% 5%;
	box-shadow: 4px 5px 3px lightgrey;

}
.my{
	border-bottom : 5px solid lightgrey;
	border-left : 5px solid rgb(59, 59, 59);
	position: center;
}
.myright{
	text-align: right;
	margin: 1em 0 0 0;
}
.carousel-caption h3{
	font-size: 4ch;
	animation-delay: 1s;
	color: black;
	font-weight: bolder;
	text-shadow: 3px 2PX #fff;
}
.col-6 {
	border: 2px solid lightgrey;
	padding-left: 0px;
	padding-right: 0px;
}


/*css galeries*/
img.coco{
	height: 25%;
	width: 25%;
	margin-bottom: 8%;
}
h2#Natharine{
	font-size: 3em;
	font-family: 'Great Vibes', cursive;
	color: black;
}

img.coco1{
	margin-bottom: 3%;
	height: 25%;
	width: 25%;
}

/* navbar */
nav#viveleriz{
	background-color: white;
}
.navbar li{
	text-align: center;
	margin-left: 10%;


}
.nav-link{
	color: black;
}


/* footer */
footer{
	background: #444444
}
footer ul{
	margin: 20px;
	list-style-type: none;
}
footer a{
	color: white;
	font-weight: bold;
}
