@import url('https://fonts.googleapis.com/css?family=Charm');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body{
    font-family: 'Charm', cursive;
}

/** HEADER **/
.carousel-item active{
	width: 100%;
	max-height: 400px;
	
	
}
.carousel-item img {
	max-height: 550px;	
}


img.coco{
	height: 25%;
	width: 25%;
	margin-bottom: 8%;
}
h2#Natharine{
	font-size: 3em;
	font-family: 'Great Vibes', cursive;
	color: black;
}

img.coco1{
	margin-bottom: 3%;
	height: 25%;
	width: 25%;
}

/* navbar */
.navbar li{
	text-align: center;
}
.navbarGlobal{
	padding: 15px;
	font-size: 2.5em;
	color: black;
}
.navbarGlobal:hover{
	text-decoration: underline;
}


/**********************/
/***** Services *******/
/*********************/




section .section-title{
	text-align:center;
	color: black;
	margin-bottom:50px;
    font-family: fantasy;
	font-weight: bold;
	
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "🍫";
}
#what-we-do .card .block-2:before{
    content: "🥐";
}
#what-we-do .card .block-3:before{
    content: "🥨";
}
#what-we-do .card .block-4:before{
    content: "✅";
}
#what-we-do .card .block-5:before{
    content: "⏳";
}
#what-we-do .card .block-6:before{
    content: "📜";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .6s all ease;
	-moz-transition: .6s all ease;
	transition: .6s all ease;
}

hr{
	height: 2px;
	background-color: #007b5e;
	width:75%;
}
.cui{
    margin-top: 50px;
	margin-bottom: 50px;
}
#what-we-do .card-text{
	font-family: arial;
}




/* procéder */




.gal{
	margin: 3% 5% 5% 5%;
	box-shadow: 4px 5px 3px lightgrey;

}
.my{
	border-bottom : 5px solid lightgrey;
	border-left : 5px solid rgb(59, 59, 59);
}
.myright{
	text-align: right;
	margin: 1em 0 0 0;
}
.carousel-caption h3{
	font-size: 4ch;
	animation-delay: 1s;
	color: black;
	font-weight: bolder;
	text-shadow: 3px 2PX #fff;
}
.col-6 {
	border: 2px solid lightgrey;
	padding-left: 0px;
	padding-right: 0px;
}




/* footer */
footer{
	background: url(IMG/macaron.jpg)
}
footer ul{
	
	list-style-type: none;
	width: 100%;
}
footer a{
	color: white;
	font-weight: bold;
}
.card-img{
	width: 100%; 
height: 180px; 
object-fit: cover; 
filter: sepia(1);
-webkit-filter: sepia(1);

}
#Copy{
font-size: 1rem;
text-align: center;
vertical-align: bottom;
color: white;
margin-bottom: 0px;
}
div.copy{
	height: 20%;
	background-color: black;
}

/* Social Media */
.socialMedia{
	position: fixed;
	display: flex;
    background-color: transparent;
	flex-direction: column;
	border-radius: 5px;
	right: 0%;
	top: 70%;
	z-index: 3;

}
.imgMedia{
	margin: 10px;
	height: 50px;

}

/* biographie */
article .text_bio{
	margin-bottom: 50px;
	margin-top: 50px;
}
.bloc_bio p{
	font-size: 1.1em;
	text-align: justify;
    font-family: arial;
}
.bloc_bio h2{
	text-align: center;
	font-family: 'Great Vibes', cursive;
	text-decoration: underline;
}
.img_bio{
	width: 275px;
	filter: sepia(1);
	-webkit-filter: sepia(1);
}
.img_bio_logo{
	width: 275px;
}
.img_bio:hover{
	filter: sepia(0);
	-webkit-filter: sepia(0);
	transition: ease 1.5s;
	width: 275px;
}
.border_bio{
	padding: 1px 75px 10px 50px;
	box-shadow: 0px 0px 10px 1px;
	margin-bottom: 10px;
}

/** Small devices (landscape phones, 576px and up) **/
@media (max-width: 576px) { 
.card-img{
	height: 150px;
}
.carousel-item img{
	height: 230px;
}
}


 

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) { 
	.card-img{height: 150px;}
	.carousel-item img{
		height: 350px;
	}
	
 }

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
.card-img{
	height: 150px;
}
}

 

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
.card-img{
	height: 150px;
}
.carousel-item img{
	height: 550px;
}
}


/*Formulaire de Contact*/
h2#rom{
	margin-top:50px; 
	margin-bottom:10px;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 5em;
}
.formFont{

	font-size: 2em;
}
.formContact{
	box-shadow: 0px 0px 10px 1px;
	background-image:
		/* top, transparent red */
			linear-gradient(
					rgba(245, 246, 248, 0.50),
					rgba(245, 246, 248, 0.50)
			),
			url(IMG/macaron.jpg);
	/*background-color: rgba(245, 246, 248,1); */
}
.text-muted{
	color:black;
}

.btnSend{
	background-color: rgba(179, 183, 191,1);
	border: 0;
	font-size: 1.5em;
	font-family: 'Acme', sans-serif;
}
.btnSend:hover{
	background-color: rgb(148, 167, 206);

}
textarea{
	font-family: arial;
}
input{
	font-family: arial;
}

/* css galeries */

.gal{
	margin: 3% 5% 5% 5%;


}
.effect
{
	position: relative;
}
.effect:before, .effect:after
{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 25px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	box-shadow: 0 35px 20px #777;
	transform: rotate(-8deg);
}
.effect:after
{
	transform: rotate(8deg);
	right: 10px;
	left: auto;
}

.my{
	border-bottom : 5px solid lightgrey;
	border-left : 5px solid rgb(59, 59, 59);

}
.myright{
	text-align: center;
	margin: 1em 0 0 0;
	font-weight: bolder;
	text-transform: uppercase;
	text-shadow: 0px 8px 5px #777;

}

.carousel-caption h3{
	font-family: 'Charm', cursive;
	font-size: 150%;
	animation-delay: 0.5s;

	font-weight: bolder;
	text-transform: uppercase;
	-webkit-text-stroke: 1px grey;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 2px;


}

.col-6 {
	border: 2px solid lightgrey;
	padding-left: 0px;
	padding-right: 0px;

}
.fa-angle-double-right.kiki,
.fa-angle-double-left.kiki{
	font-size: 50px;
	color: rgb(226, 68, 19);
	height: 100px;
	width: 100px;

	background-size: 1em 1em;

}


/*css galeries*/